
    .menueditor{
       position: relative; 
      background-color: lightblue;
       border: 1px solid black;
       width: 450px;
       padding: 10px;
       padding-left: 130px;
       padding-right: 25px;
       border-radius: 0px 25px 0px 25px;   
                }
select {
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(0, 0, 0);
margin-bottom: 50px;
border: 1px solid;
width: 125px;
border-radius: 10px 0 10px 0;
font-size: 15px;
font-weight: bold;
        }

button{
color: rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
border-radius: 10px 0 10px 0;
margin-left: 25px;
margin-bottom: 50px;
    }  

button:hover{
    background-color:lightblue;
}
select:hover{
    font-style: italic;
    font-size: 10px;
}
hr{
  margin-right: 75px;

}
textarea{
    width: 350px;
    height:200px ;
}
